<!DOCTYPE html>
<html>
  <head>
   <meta charset='utf-8'>
   <meta name='generator' content='<%= Pluto.generator %>'>
   <title><%= site.title %></title>

   <%= stylesheet_link_tag 'css/zen' %>
  </head>
  <body>




<% site.items.latest.limit(15).each do |item| %>

<div class='item'>

<!-- todo: calc number of words -->
<!--  use number of words for
       5 min read/ 12 min read etc. 1 min read -->


<div class='item-header'>
  <span class='item-feed-title'>
     <%= link_to item.feed.title, item.feed.url, title: "Go to »#{item.feed.title}«" %>
  </span>
  <span class='item-min-read'>
    &bull; 3 min read
  </span>
  <h2><%= link_to item.title, item.url, title: "Go to »#{item.title}«" %></h2>
</div>


<div class='item-body'>
<div class='item-content item-summary'>

<!--
   note: content goes first; than try summary
 -->
<% if item.content %>
  <%= item.content %>
<% elsif item.summary %>
  <%= item.summary %>
<% else %>
  -/-
<% end %>
  
</div>
</div><!-- item-body -->


<div class='item-followups'>
  <span class='item-followups-title'>
    Further Reading
  </span>

  <!-- todo: add more stories from feed -->
   <div class='item-followups-list'>
    <!-- fix: exclude self/current story/item - how?
      -->
     <% item.feed.items.latest.limit(3).each do |item|
        if item.summary
          item_snippet_plain_text = strip_tags( item.summary )[0..60]
        elsif item.content
          item_snippet_plain_text = strip_tags( item.content )[0..60]
        else
          item_snippet_plain_text = '-/-'
        end
      %>
       <div>
          <h3 class='followup-title'>
            <%= link_to item.title, item.url, title: "Go to »#{item.title}«" %>
          </h3>
            — 
          <p class='followup-desc'>
            <%= item_snippet_plain_text %>
          </p>
       </div>
     <% end %>
   </div>
</div>

<div class='item-footer'>
  <!-- add author; time etc. -->

  <!-- use for personal blog; fix - for now always Published in
  <h4>Written by</h4>
   -->
   <h4>Published by</h4>
   <h3>
    <%= link_to item.feed.title, item.feed.url, title: "Go to »#{item.feed.title}«" %>
   </h3>


  <p class='item-published'>
    <%= item.published.strftime('%A %B %d, %Y @ %H:%M') %> &bull;  
    <%= time_ago_in_words( item.published ) %>
  </p>
</div>


</div><!-- item -->



<div class='item-preview'>
  <!-- todo: Read next
       next story
  -->
  <!-- fix: for now display same story again - should be, of course, next story!
     use new item cursor -> will include next/prev etc. 
  -->
  <p class='item-read-next'>
     Read next
  </p>

   <h3><%= link_to item.title, item.url, title: "Go to »#{item.title}«" %></h3>

    <!-- fix: change to 140 or more -->
    <%  if item.summary
          item_snippet_plain_text = strip_tags( item.summary )[0..60]
        elsif item.content
          item_snippet_plain_text = strip_tags( item.content )[0..60]
        else
          item_snippet_plain_text = '-/-'
        end
      %>

  <p class='item-desc'>
     <%= item_snippet_plain_text %>
  </p>

  <p>
    <span class='item-feed-title'>
       <%= link_to item.feed.title, item.feed.url, title: "Go to »#{item.feed.title}«" %>
    </span>
    <span class='item-min-read'>
     &bull; 3 min read
    </span>
  </p>
  
</div><!-- item-preview -->


<% end %><!-- each item -->

</body>
</html>